GROQ_API_KEY=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
GEMINI_API_KEY=AIzaSyDDZPM5Jzr6QfWzyI9iv6cvI5NQfzeYAo0
OPENAI_API_KEY=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